 .singleMovieCard{
   position: relative;
   overflow: hidden;
} 
.bgImg
{
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
/* .cardContent
{
    position: relative;
} */